.gridView {
    margin: 1rem auto;
    max-width: calc(100% - 5rem);
}
.billboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search {
    margin: 1rem auto;
}

.poster {
    text-align: center;
    padding: 10px;
    margin: 0 0 10px;
    border: 1px dotted black;

}

.poster .posterImage {
    max-width: 60vmin;
}